* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

/* Nav and Header Styling */

nav {
    display: flex;
width: 100%;
height: 3rem;
background-color:#0a4174;
position: static;
border-bottom-right-radius: 67px ;
border-bottom-left-radius: 67px ;
box-shadow: 0 0 10px #49769f;
align-items: center;
justify-content: center;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


nav ul {
    list-style-type: none;
}


a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}

.navLinks a:hover {
    width: 20px;
    height: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 15px #0a4174;
    background-color: #49769f;
}


.faq {
    position: absolute;
    top: 11px;
    right: 30px;
    width: 5rem;
    height: 1.5rem;
}


#Logo img {
    position: absolute;
    top: 11px;
    left: 20px;
    width: 5rem;
    height: 1.5rem;
}

#Logo p {
    position: relative;
    right: 25vh;
    padding:0;
    color: white;
    font-size: large;
    font-weight: bold;
}

main {
    position: relative;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}


